form {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
input {
  margin: 20px 20px;
  height: 40px;
}
div {
  height: 40px;
  border: solid green;
  margin: 20px 20px;
}
button {
  height: 40px;
}
